.advertisment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.small-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -15px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.adv-prod1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.adv-prod1-text {
  margin-left: 17px;
  margin-top: 10px;
}

.adv-small-img {
  border: 1px solid #be926f;
  margin-left: 20px;
  background-image: url("../images/product3.png");
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
}

.adv-category a {
  font-size: 0.8em;
  color: #c2c2c2;
  line-height: 2;
  padding-left: 5px;
  text-decoration: none;
}

.adv-category:hover {
  text-decoration: underline;
}

.adv-title {
  font-size: 1.1333em;
  color: #232323;
  line-height: 1.2941;
}

.adv-price {
  font-size: .9333em;
  color: #be926f;
  font-weight: bold;
  line-height: 1.7142;
}

.adv-price s {
  color: #aeaeae;
  font-weight: bold;
}

.adv-prod2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -50px;
}

.adv-prod2-text {
  margin-left: 17px;
  margin-top: 10px;
}

.adv-sugget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: -15px;
  padding-left: 26px;
}

.hot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
}

.line-hot {
  width: 20px;
  height: 2px;
  background-color: #be926f;
}

.adv-title-hot {
  font-size: 1.3333em;
  color: #232323;
  line-height: 1.1;
}

.adv-price {
  font-size: .9333em;
  color: #be926f;
  font-weight: bold;
  line-height: 1.7142;
  padding-bottom: 15px;
}

@media (max-width: 800px) {
  .advertisment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .small-adv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 15px;
  }
  .adv-sugget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 auto;
    padding-left: 26px;
  }
}
@media (max-width: 450px) {
  .small-adv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 15px;
  }
  .adv-prod1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .adv-prod2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1px;
  }
}
