.container-contact {
  max-width: 1170px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e7e7e7;
}

.contact {
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 35px;
  padding: 0 0 0 28px;
}

.contact-links {
  text-transform: uppercase;
  margin-top: 9px;
  margin-right: 29px;
}

.contact-links a {
  color: #666666;
  font-size: 0.9333em;
  text-decoration: none;
}

.contact-links a:hover {
  color: #cfcfcf;
  text-decoration: underline;
}
