.page-body-blog {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 30px;
}

.sidebar-search {
  float: right;
  border: 1px solid #be926f;
  margin-bottom: 30px;
}

.sidebar-search-form {
  float: left;
  width: 224px;
  height: 43px;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: none;
  border: none;
  padding-left: 24px;
  color: #ffffff;
}

.button-blog {
  border: none;
  font-size: 0;
  width: 44px;
  height: 43px;
  float: right;
  background-image: url("../images/logo_search_blog.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-blog:hover {
  background-color: rgba(190, 146, 111, 0.8);
}

.sidebar-convert {
  margin-top: 10px;
  margin-bottom: 30px;
}

.convert {
  position: absolute;
  background-image: url("../images/icon-convert.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 14px;
  left: -30px;
}

.sidebar-convert li {
  font-size: .9333em;
  line-height: 3.4285;
  border-bottom: 1px solid #be926f;
}

.sidebar-convert li a {
  position: relative;
  text-decoration: none;
  color: #333333;
  display: block;
  margin-left: 55px;
}

.sidebar-convert li a:hover {
  color: #be926f;
}

.by-categ {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
}

.archiv {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  padding-left: 30px;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
}

.sidebar-archiv {
  margin-top: 10px;
  margin-bottom: 30px;
}

.archiv-img {
  position: absolute;
  background-image: url("../images/icon-calendar.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 14px;
  left: -30px;
}

.sidebar-archiv li {
  font-size: .9333em;
  line-height: 3.4285;
  border-bottom: 1px solid #be926f;
}

.sidebar-archiv li a {
  position: relative;
  text-decoration: none;
  color: #333333;
  display: block;
  margin-left: 55px;
}

.sidebar-archiv li a:hover {
  color: #be926f;
}

.popular-post {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
  margin-bottom: 15px;
}

.popular-post-prod1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.popular-post-img {
  border: 1px solid #e6e6e6;
  background-image: url("../images/product3.png");
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
}

.popular-post-text {

}

.popular-post-category {
  color: #333333;
  margin-left: 12px;
  margin-top: -5px;
}

.popular-post-category a {
  color: #333333;
  text-decoration: none;
}

.popular-post-category:hover {
  text-decoration: underline;
}

.popular-post-title {
  font-size: .9333em;
  color: #be926f;
  line-height: 1.2941;
  margin-left: 12px;
}

@media (max-width: 640px) {
  .sidebar {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
  }
}
