.page-body-blog {
  max-width: 1170px;
  min-width: 640px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 270px;
  margin-right: 30px;
}

.sidebar-search {
  display: flex;
  border: 1px solid #be926f;
  margin-bottom: 30px;
  padding-left: 25px;
}

.sidebar-search-form {
  flex-basis: 225px;
  border: none;
  font-size: 1.0666em;
}

.button-blog {
  font-size: 0;
  background-image: url("../images/logo%20search%20blog.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 43px;
  height: 43px;
  border: none;
  background-color: #be926f;
}

.button-blog:hover {
  background-color: rgba(190, 146, 111, 0.8);
}

.sidebar-convert {
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-convert li:before {
  content: "";
  background-image: url("../images/icon-convert.png");
  width: 20px;
  height: 16px;
  padding-left: 43px;
  margin-left: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-convert li {
  font-size: .9333em;
  line-height: 3.4285;
  border-bottom: 1px solid #be926f;
}

.sidebar-convert li a {
  text-decoration: none;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-convert li a:hover {
  color: #be926f;
}

.by-categ {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
}

.archiv {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  padding-left: 30px;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
}

.sidebar-archiv {
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-archiv li:before {
  content: "";
  background-image: url("../images/icon-calendar.png");
  width: 20px;
  height: 16px;
  padding-left: 43px;
  margin-left: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-archiv li {
  font-size: .9333em;
  line-height: 3.4285;
  border-bottom: 1px solid #be926f;
}

.sidebar-archiv li a {
  text-decoration: none;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-archiv li a:hover {
  color: #be926f;
}

.popular-post {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
  margin-bottom: 15px;
}

.popular-post-prod1 {
  display: flex;
  flex-basis: 50%;
  box-sizing: border-box;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.popular-post-img {
  border: 1px solid #e6e6e6;
  background-image: url("../images/product3.png");
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
}

.popular-post-text {

}

.popular-post-category {
  color: #333333;
  margin-left: 12px;
  margin-top: -5px;
}

.popular-post-category a {
  color: #333333;
  text-decoration: none;
}

.popular-post-category:hover {
  text-decoration: underline;
}

.popular-post-title {
  font-size: .9333em;
  color: #be926f;
  line-height: 1.2941;
  margin-left: 12px;
}

