.blog {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.blog-text {
  margin-top: 45px;
  margin-right: 30px;
  margin-left: 30px;
}

.blog-menu {
  padding-bottom: 22px;
}

.blog-img-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.colortext {
  color: gray;
}

.ws {
  word-spacing: 15px;
}

.fz1 {
  font-size: 1.6em;
  margin-bottom: 0;
}

.blog-text p {
  font-size: 1em;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.7333;
  color: #333333;
}

.posts-share {
  border-top: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tags {
  font-size: 1em;
  color: #666666;
  padding: 30px 0 30px 20px;
}

.tags span {
  font-size: 1em;
  color: #333333;
}

.social-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}

.share-post {
  font-size: 1em;
  color: #333333;
  padding-right: 10px;
}

.fb-logo-color {
  background-image: url("../images/icon-f-color.png");
  background-repeat: no-repeat;
  padding-left: 10px;
  width: 35px;
  height: 35px;
}

.tw-logo-color {
  background-image: url("../images/icon-tw-color.png");
  background-repeat: no-repeat;
  padding-left: 10px;
  width: 35px;
  height: 35px;
}

.c-logo-color {
  background-image: url("../images/icon-c-color.png");
  background-repeat: no-repeat;
  padding-left: 10px;
  width: 35px;
  height: 35px;
}

.gp-logo-color {
  background-image: url("../images/icon-gp-color.png");
  background-repeat: no-repeat;
  padding-left: 30px;
  width: 35px;
  height: 35px;
}
@media (max-width: 860px) {
  .social-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .page-body-blog {
    max-width: 640px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog-img-cover {
    display: none;
  }
}
