.product-info {
  max-width: 1170px;
  margin: 0 auto;
}

.product-preview {
  width: 670px;
  height: 600px;
  overflow: hidden;
  margin-bottom: 30px;
  float: left;
}

.product-preview .some-product a {
  display: block;
  border: none;
  margin: 15px 0;
  outline: none;
}

.product-preview .product-image img {
  width: 100%;
  height: 600px;
  outline: none;
  border: 4px solid #dbc5b4;
  box-sizing: border-box;
}
.img-cover {
  object-fit: cover;
}
.product-preview .product-image {
  float: right;
  width: 500px;
  height: 630px;
  box-sizing: border-box;
  }
.product-preview .product-image img {
  object-fit: cover;
}
.product-preview .some-product {
  width: 140px;
  height: 180px;
  float: left;
  margin-top: -15px;
  margin-bottom: -15px;
}

.product-preview .some-product img {
  width: 140px;
  height: 180px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #dbc5b4;
}

.product-image img {
  cursor: pointer;
  outline: none;
 }

.product-detail {
  float: left;
  padding: 0 30px;
  max-width: 440px;
}

.product-detail h2 {
  margin-top: -12px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 2em;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 1.2em;
  float: left;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
  color: #cccccc;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: #f0c25b;
}

.review {
  color: #999999;
  font-size: 1.0666em;
  padding-left: 114px;
  padding-bottom: 5px;
}

.product-detail-review li {
  display: inline-block;
  padding-bottom: 5px;
}

.product-detail-review li a {
  text-decoration: none;
  color: #7a7a7a;
}

.product-detail-review li + li {
  padding-left: 60px;
}

.in-stock {
  background: url("images styles/in-stock.png");
  background-position: left center;
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  padding-left: 25px;
}

.price-product {
  font-size: 1.8em;
  color: #ff0000;
  margin-top: 20px;
}

.review-product {
  font-size: 0.9375em;
  line-height: 2;
  text-align: justify;
}

.color {
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.color span {
  font-size: 1.333em;
  color: #333333;
  padding-right: 5px;
}

.col-box {
  width: 25px;
  height: 25px;
  border: 1px solid #cccccc;
  position: relative;
  margin-left: 12px;
}

.col1 {
  width: 20px;
  height: 20px;
  background-color: #be926f;
  position: absolute;
  top: 2px;
  left: 2px;
}

.col2 {
  width: 20px;
  height: 20px;
  background-color: #355e60;
  position: absolute;
  top: 2px;
  left: 2px;
}

.col3 {
  width: 20px;
  height: 20px;
  background-color: #403634;
  position: absolute;
  top: 2px;
  left: 2px;
}

.col4 {
  width: 20px;
  height: 20px;
  background-color: #807875;
  position: absolute;
  top: 2px;
  left: 2px;
}

.col5 {
  width: 20px;
  height: 20px;
  background-color: #f71751;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* input + - */
.number {
  margin-top: 28px;
  position: relative;
  width: 90px;
}

.number input {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.7333em;
  border: 1px solid #cccccc;;
}

.number .plus {
  background: url("images styles/plus.png");
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-size: 1.4em;
  width: 30px;
  height: 30px;
  padding: 1px 8px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
}

.number .minus {
  background: url("images styles/minus.png");
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-size: 1.3em;
  padding: 1px 8px;
  width: 30px;
  height: 30px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: absolute;
  bottom: 0;
  top: 30px;
}

.number span {
  cursor: pointer;
}

/*      link    */
.quality {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quality .add-to-cart {
  width: 160px;
  height: 60px;
  background-color: #be926f;
  display: block;
  box-sizing: border-box;
  padding: 17px 0;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2666em;
  margin-top: 28px;
}

.quality .to-favorites {
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #999999;
  margin-top: 28px;
  background: url("../images/icon-favorite.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.quality .to-comparition {
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #999999;
  margin-top: 28px;
  background: url("../images/icon-compare.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/*   TAB  */

.ui-tabs .ui-tabs-nav {
  padding-left: 0;
}

.ui-widget-header {
  background: #ffffff;
  border: none;
}

.ui-widget.ui-widget-content {
  border: none;
  margin-bottom: 30px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ui-tabs .ui-tabs-panel {
  border: 1px solid #be926f;
  margin-bottom: -5px;
  margin-right: -3px;
  margin-left: -3px;
}

.ui-tabs .ui-tabs-nav {
  background-color: #f7f7f7;
  margin-top: -6px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  border-top: 1px solid #be926f;
  border-left: 1px solid #be926f;
  border-right: 1px solid #be926f;
  background: #ffffff;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3333em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  color: #be926f;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3333em;
  outline: #be926f;
  margin-left: -3px;
  margin-bottom: -1px;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
  border-top: 4px solid #be926f;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background: #ffffff;
  outline: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0;
}

/* navigation menu*/

.related-products .nav-new-posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 45px;
  margin-bottom: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-grow: 1;
}

/* social */

.social-bloc {
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}

.social-bloc .logo-tw {
  background-image: url("../images/tw_icon.png");
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.social-bloc .logo-fb {
  background-image: url("../images/f_icon.png");
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 12px;
  margin-right: 12px;
    }

.social-bloc .logo-gp {
  background-image: url("../images/gp_icon.png");
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 12px;
 }
.social-bloc .logo-m {
  background-image: url("../images/m_icon.png");
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  }
.social-bloc .logo-fb:hover {
   border: 1px solid #007fff;
  border-radius: 5px;
  }
.social-bloc .logo-tw:hover {
  border: 1px solid #007fff;
  border-radius: 5px;
  }
.social-bloc .logo-m:hover {
  border: 1px solid #007fff;
  border-radius: 5px;
}
.social-bloc .logo-gp:hover {
  border: 1px solid #ac2925;
  border-radius: 5px;
}

@media  (max-width: 1199px) {
  .product-detail {
    float: left;
    padding: 0 30px;
    max-width: 400px;
  }
  .product-detail-review li + li {
    padding-left: 30px;
  }
  .social-bloc {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media  (max-width: 1159px) {
  .product-detail {
    float: left;
    padding: 0 20px;
    max-width: 390px;
  }
  .social-bloc {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
      }
  .quality {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 390px;
  }
}
@media  (max-width: 1109px) {
  .product-detail {
    float: left;
    padding: 0 20px;
    max-width: 400px;
  }
  .social-bloc {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .some-product {
    display: none;
  }
  .product-preview {
    min-width: 320px;
    width: 50%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
  }
  .product-preview .product-image {
    float: none;
    width: 100%;
    height: 630px;
    box-sizing: border-box;
    object-fit: cover;
  }
  .quality {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
  }
}
@media  (max-width: 1040px) {
  .product-detail {
    float: left;
    padding: 0 20px;
    max-width: 380px;
  }
  .social-bloc {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  /*.some-product {
    display: none;
  }*/
  .product-preview {
    max-width: 500px;
    width: 50%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
  }
  .product-preview .product-image {
    float: none;
    width: 100%;
    height: 630px;
    box-sizing: border-box;
    object-fit: cover;
  }
}
@media  (max-width: 870px) {
  .product-detail {
    float: left;
    padding: 0 20px;
    max-width: 380px;
  }
  .social-bloc {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  /*.some-product {
    display: none;
  }*/
  .product-preview {
    max-width: 100%;
    width: 50%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
  }
  .product-preview .product-image {
    float: none;
    width: 100%;
    height: 630px;
    box-sizing: border-box;
    object-fit: cover;
  }
}
