.footer {
  border-top: 1px solid #e6e6e6;
}

.container-footer {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.autor {
  font-size: 0.8666em;
  line-height: 1.8461;
  color: #e6e6e6;
  margin-top: 20px;
}

.polisy {
  margin-top: 5px;
}

.polisy li {
  display: inline;
}

.polisy li a {
  font-size: 0.8666em;
  line-height: 1.8461;
  color: #e6e6e6;
  text-decoration: none;
}

.polisy li + li {
  margin-left: 25px;
}

.social {
  display: flex;
  margin-top: 29px;
}

.tw-logo {
  padding-right: 40px;
  background-image: url("../images/icon-tw.png");
  width: 19px;
  height: 16px;
  background-repeat: no-repeat;
}

.fb-logo {
  background-image: url("../images/icon-f.png");
  background-repeat: no-repeat;
  width: 9px;
  height: 19px;
}

.gp-logo {
  background-image: url("../images/icon-gp.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  padding-right: 40px;
}
