.hot-links {
  background-color: #f8f8f8;
}

.hot-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.hot-links1 {
  display: flex;
  align-items: center;
}

.hot-links2 {
  display: flex;
  align-items: center;
}

.hot-links3 {
  display: flex;
  align-items: center;
}

.hot-links4 {
  display: flex;
  align-items: center;
}

.hot-links-text a {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 4em;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.hot-links-text a:hover {
  text-decoration: underline;
}

.hot-link-img1 {
  background-image: url("../images/icon-1.png");
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  border: 1px solid #be926f;
  margin-right: 5px;
}

.hot-link-img2 {
  background-image: url("../images/icon-2.png");
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  border: 1px solid #be926f;
  margin-right: 5px;
}

.hot-link-img3 {
  background-image: url("../images/icon-3.png");
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  border: 1px solid #be926f;
  margin-right: 5px;
}

.hot-link-img4 {
  background-image: url("../images/icon-4.png");
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  border: 1px solid #be926f;
  margin-right: 5px;
}
@media (max-width: 320px) {
.hot-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  margin: 0 auto;
}
}
