.post {
  max-width: 1170px;
  margin: 0 auto;
}

.nav-new-posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  margin-top: 45px;
  margin-bottom: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.prew {
  background-image: url("../images/icon-prev.png");
  background-repeat: no-repeat;
  /*margin-top: 30px;*/
  opacity: 1;
}

.prew:hover {
  background-image: url("../images/icon-prev-a.png");
  background-repeat: no-repeat;
  opacity: 1;
}

.nav-new-posts a {
  font-size: 0.8666em;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  opacity: .9;
  transition: opacity 0.5s;
}

.next {
  background-image: url("../images/icon-next.png");
  background-repeat: no-repeat;
  background-position: center right;
  /*margin-top: 30px;*/
}

.nav-new-posts a:hover {
  color: #be926f;
}

.next:hover {
  background-image: url("../images/icon-next-a.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.new-post-text {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

/*---------*/

.new-posts {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.post-new {
  border-bottom: 1px solid #e8e8e8;
  flex-basis: calc(25% - 30px);
  margin-bottom: 53px;
}

.post-new:hover {
  border-bottom: 1px solid #be926f;
}

.product-category-post {
  font-size: 0.8em;
  line-height: 2;
  color: #7f9f5d;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.post-title {
  font-size: 1.2em;
  line-height: 1.3333;
  color: #000000;
  text-align: center;
  padding-bottom: 20px;
}

.time-post-add {
  font-size: 0.9333em;
  line-height: 1.7142;
  color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 15px;
}

.time-post {
  display: flex;
  justify-content: center;
}

.new-pos-img {
  border: 1px solid #be926f;
}

@media (max-width: 640px) {
  .new-posts {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
