.product-grid-bloc {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sort-by-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-by span {
  margin-right: 15px;
}
.form_cbx select {
  background: transparent;
  height: 28px;
  border: 0;
  width: 130px;
}

.form_cbx {
  border: 1px solid #cccccc;
  overflow: hidden;
  height: 28px;
  background: url("images%20styles/icon-button-down1.png") no-repeat right;
  width: 100px;
}

.button-view1 {
  border: none;
  background-image: url("images styles/icon-view3.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.button-view2 {
  border: none;
  background-image: url("images styles/icon-view4.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.button-sort {
  border: none;
  background-image: url("images styles/icon-button-down.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.page-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.view-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 7px;
}

.page-list {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cccccc;
  text-align: center;
}

.view-product li {
  display: inline-block;
}

.page-list a {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
}

.page-list:hover {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: #be926f;
  text-align: center;
  border: 1px solid #be926f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-list a:hover {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.product-bloc {
  max-width: 850px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.products-bloc {
  margin: 30px auto;
}

.products-bloc .featured-products-list .featured-product {
  border: 1px solid #e6e6e6;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}

.products-bloc .featured-products-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 1236px) {
  .products-bloc .featured-products-list .featured-product {
    border: 1px solid #e6e6e6;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 1110px) {

  .products-bloc .featured-products-list .featured-product {
    border-left: 1px solid #e6e6e6;
    margin-bottom: 0;
  }
}

@media (max-width: 958px) {
  .products-bloc .featured-products-list .featured-product {
    border: 1px solid #e6e6e6;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 639px) {
  .products-bloc .featured-products-list .featured-product {
    border: 1px solid #e6e6e6;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 560px) {
  .products-bloc .featured-products-list .featured-product {
    border: 1px solid #e6e6e6;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 320px) {
  .page-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
