.page-body-product {
  max-width: 1170px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sidebar-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 30px;
}

.sidebar-search-product {
  float: right;
  border: 1px solid #be926f;
  margin-bottom: 30px;
}

.sidebar-search-form {
  float: left;
  width: 224px;
  height: 43px;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: none;
  border: none;
  padding-left: 24px;
  color: #ffffff;
}

.button-blog {

  font-size: 0;
  background-image: url("../images/logo_search_blog.png");
  background-repeat: no-repeat;
  background-position: center center;
  -ms-flex-preferred-size: 44px;
  flex-basis: 44px;
  height: 43px;
  border: none;
  background-color: #be926f;
}

/* Ширина слайдера */
#slider {
  width: 270px;
}

/* Контейнер слайдера */
.ui-slider {
  position: relative;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px; /* Задаем нужную ширину */
  height: 10px; /* и высоту */
  background: #be926f;
  /*background: url("images styles/icon-slide.png") no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 2px; /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  border: 1px solid #D4D4D4;
  background: #fff;
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  border: 1px solid #D4D4D4;
  background: #be926f;
}

#minCost {
  width: 60px;
  height: 26px;
  border: 1px solid #be926f;
  margin-right: 10px;
}

#maxCost {
  width: 60px;
  height: 26px;
  border: 1px solid #be926f;
}

.button-filter {
  width: 90px;
  height: 30px;
  border: none;
  background: #be926f;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.button-blog:hover {
  background-color: rgba(190, 146, 111, 0.8);
}

.sidebar-categories {
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-nav-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar-categories li {
  position: relative;
  font-size: .9333em;
  line-height: 3.4285;
  border-bottom: 1px solid #be926f;
  padding-left: 50px;
}

.sidebar-categories li a {
  text-decoration: none;
  color: #333333;
  display: block;
}

.sidebar-categories li a:hover {
  color: #be926f;
}

.by-categ {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
}

.filter-price {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  padding-left: 30px;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 25px;
  background: #be926f;
}

.sale-products {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
  margin-bottom: 15px;
}

.sale-products-prod1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-basis: 50%;*/
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sale-products-img {
  border: 1px solid #e6e6e6;
  background-image: url("../images/product3.png");
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
}

.sale-products-category {
  color: #333333;
  margin-left: 12px;
  margin-top: -5px;
}

.sale-products-category a {
  color: #333333;
  text-decoration: none;
}

.sale-products-category:hover {
  text-decoration: underline;
}

.sale-products-title {
  font-size: .9333em;
  color: #be926f;
  line-height: 1.2941;
  margin-left: 12px;
}

@media (max-width: 640px) {
  .page-body-product {
    max-width: 1170px;
    padding: 0 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
