.page-body-product {
  max-width: 1170px;
  min-width: 640px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  }

.sidebar-product {
  display: flex;
  flex-direction: column;
  flex-basis: 270px;
  flex-shrink: 0;
  margin-right: 30px;
}

.sidebar-search-product {
  display: flex;
  border: 1px solid #be926f;
  margin-bottom: 30px;
  padding-left: 25px;
}

.sidebar-search-form {
  flex-grow: 1;
  border: none;
  font-size: 1.0666em;
}

.button-blog {
  font-size: 0;
  background-image: url("../images/logo_search_blog.png");
  background-repeat: no-repeat;
  background-position: center center;
  flex-basis: 44px;
  height: 43px;
  border: none;
  background-color: #be926f;
}

.button-blog:hover {
  background-color: rgba(190, 146, 111, 0.8);
}

.sidebar-categories {
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-nav-icon {
position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  }

.sidebar-categories li {
  position: relative;
  font-size: .9333em;
  line-height: 3.4285;
  border-bottom: 1px solid #be926f;
  padding-left: 50px;
}

.sidebar-categories li a {
  text-decoration: none;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
 }

.sidebar-categories li a:hover {
  color: #be926f;
}

.by-categ {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
}

.filter-price {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  padding-left: 30px;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 25px;
  background: #be926f;
}

.sale-products {
  font-size: 1.0666em;
  line-height: 1.375;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #be926f;
  margin-bottom: 15px;
}

.sale-products-prod1 {
  display: flex;
  flex-basis: 50%;
  box-sizing: border-box;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sale-products-img {
  border: 1px solid #e6e6e6;
  background-image: url("../images/product3.png");
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
}

.sale-products-category {
  color: #333333;
  margin-left: 12px;
  margin-top: -5px;
}

.sale-products-category a {
  color: #333333;
  text-decoration: none;
}

.sale-products-category:hover {
  text-decoration: underline;
}

.sale-products-title {
  font-size: .9333em;
  color: #be926f;
  line-height: 1.2941;
  margin-left: 12px;
}

@media (max-width: 640px) {
  .page-body-product {
    max-width: 1170px;
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
