.shop-btn {
  margin-top: 30px;
  margin-bottom: 45px;
  }
.shop-btn-link {
  object-fit: cover;
  width: 1170px;
  height: 481px;
}
@media (max-width: 640px) {
  .shop-btn-link {
    object-fit: cover;
    width: 640px;
    height: 240px;
  }
}
