@import "header-top.css";
@import "header.css";
@import "slider.css";
@import "featured-products.css";
@import "advert.css";
@import "clients.css";
@import "new-post.css";
@import "testimonials.css";
@import "hot-links.css";
@import "subscription.css";
@import "contacts.css";
@import "footer.css";
@import "blog-Brcum.css";
@import "blog-sidebar.css";
@import "blog-detail.css";
@import "product-bloc.css";
@import "sidebar-product.css";
@import "detail_product.css";

html {
  font-size: 0.9375em;
  line-height: 1.7333;
}

body {
  min-width: 320px;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.slicknav_menu {
  display: none;
}

@media (max-width: 585px) {
  .header-nav ul li {
    display: none;
  }
  .slicknav_menu {
    max-width: 120px;
    margin: 0;
    display: block;
  }
  #menu {
    margin-bottom: 0;
    padding-left: 15px;
  }
}
