.subscription {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-letter {
  margin-top: 37px;
  margin-bottom: 60px;
}

.newletter-head {
  font-weight: bold;
}

.subscription-email input {
  width: 365px;
  height: 48px;
  border: 1px solid #e8e8e8;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: none;
  padding-left: 18px;
  padding-right: 7px;
  margin-right: -5px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 1.0666em;
}

.subscribe {
  padding-left: 17px;
  padding-right: 0;
}

.subscription-email button {
  border: 1px solid #be926f;
  background-color: #ffffff;
  width: 200px;
  height: 50px;
  margin-left: 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  background-image: url("../images/icon-fly.png");
  background-position: left center;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .subscription-email button {
    border: 1px solid #be926f;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .subscription {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .subscription-email input {
    width: 250px;
    height: 48px;
    border: 1px solid #e8e8e8;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: none;
    color: #ffffff;
    font-size: 1.0666em;
  }
  .news-letter {
    margin-top: 37px;
    margin-bottom: 10px;
  }
}
