.product-preview {
  width: 670px;
  height: 600px;
  overflow: hidden;
  margin-bottom: 30px;
}
.product-preview .some-product a {
  display: block;
  border: none;
  margin: 15px 0;
}

.product-preview .product-image img{
  width: 500px;
  height: 630px;
  object-fit: cover;
  object-position: right center;
 }

.product-preview .product-image {
  float: right;
  width: 500px;
  height: 630px;
  background: #aaaaaa;
 }
.product-preview .some-product {
  width: 140px;
  height: 180px;
  float: left;
  margin-top: -15px;
  margin-bottom: -15px;
}
.product-preview .some-product img {
   width: 140px;
   height: 180px;
   display: block;
 }
